/*{
border:1px solid red;
}*/

html,
body {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  background: #101010;
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
}

.about-container {
  margin-top: 350px;
  margin-left: 100px;
  position: relative;
  display: block;
  /*border: 1px solid red; */
  z-index: 100;
  width: 40%;
}
.about-description h1{
  font-family: Montserrat;
  color: #D5D5D5;
  font-size: 39.5pt;
}
.about-description p{
  width: 510px;
  font-family: Montserrat;
  font-size: 18pt;
  color: #CCC;
  margin-bottom: 50px;
}

.nav-buttons a {
  border: 1px solid #606060;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 18pt;
  font-family: Montserrat;
  font-weight: 200;
  color: #606060;
  margin-right: 40px;

  transition: .4s;
}

.nav-buttons a:hover {
  color: #BBB;
  border: 1px solid #BBB;
}

.about {
  visibility: visible;
  width: 60%;
}
.about h1{
  font-family: Montserrat;
  font-weight: 400;
  color: #BBB;
  font-size: 36pt;
  margin-top: 200px;
  margin-left: 120px;
}
.about p {
  font-family: Montserrat;
  font-weight: 200;
  font-size: 20pt;
  margin-top: 100px;
  color: #CCC;
  margin-left: 100px;
  padding-right: 100px;
}
